

@mixin font-face ($name, $path, $weight: null, $style: null){
	@font-face {
		font-family: quote($name);
		src: url(quote("../" + $path + ".eot"));
    src: url(quote("../" + $path + ".eot?#iefix")) format('embedded-opentype'),
        url(quote("../" + $path + ".woff2")) format('woff2'),
        url(quote("../" + $path + ".woff")) format('woff'),
        url(quote("../" + $path + ".ttf")) format('truetype'),
        url(quote("../" + $path + ".svg#" + $name)) format('svg');
		font-style: $style;
		font-weight: $weight;
	}
}
