$font-family:SFCompactDisplay;
.person-info
{
    .person-image
    {
        width: 50.76px;
        height: 50.76px;
        margin: { right: 27.7px; }
    }
    .person-name
    {
        font: {
            family: Roboto;
            size:19.04px;
        }
    }
    &.large{
        .person-image
        {
            width: 67px;
            height: 67px;
            margin: { right: 21px; }
        }
        .person-name
        {
            font: { size:19.04px; }
        }

        @media(max-width:991px)
        {
            .person-basic-info
            {
                display: -ms-flexbox;
                display: flex;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                margin-right: -15px;
                margin-left: -15px;
                .block
                {
                    -ms-flex-preferred-size: 0;
                    flex-basis: 0;
                    -ms-flex-positive: 1;
                    flex-grow: 1;
                    max-width: 100%;
                    &:nth-child(1) { @include responsive-width(88px)}
                }
            }
        }
        .person-copy-info
        {$font-size:20px;
            div
            {
                &.info-description-box
                {
                    font: {
                        family:$font-family;
                        size:$font-size;
                    }
                    &:before{display: none;}
                }
            }
        }


        /*--Account section--*/




    }
}

.person-copy-info
{
    $font-size:15.23px;
    
    div
    {
        padding:  5px 28px;
        .info-title{
            font: {
                family:$font-family;
                size:$font-size;
            }
            color: #000;
        }
        &.info-description-box
        {
            position: relative;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            span{
                font: {
                    family:$font-family;
                    size:$font-size;
                }
                word-break: break-all;
                -ms-flex-preferred-size: 0;
                flex-basis: 0;
                -ms-flex-positive: 1;
                flex-grow: 1;
                max-width: 100%;
                position: relative;
                z-index: 2 ;
                &:nth-child(1) { @include responsive-width(19px); }
                .copy
                {
                    height:22px;
                    cursor: pointer;
                    transition: .2s all;
                    &:hover{
                        opacity: .5;
                    }
                }
            }
            z-index: 2;
            &:before{
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                content: "";
                background: {color:#D8D8D8;}
                opacity: .17;
                z-index: 0;
            }
        }
    }
}
.account-management-header
{
    font: {
        family: Roboto;
        size:18px;
    }
    @media (max-width:532px){font: { size:14px; }}
    @media (max-width:420px){font: { size:12px; } .col{padding: 0px}}
    @media (max-width:330px){font: { size:11px; } }

}
.ftm-block
{
    min-height: 83px;
    max-width: 288px;
    font: { family:Helvetica;}
    h2{font: { size:23px;} margin: {bottom:9px}}
    h3{font: { size:10px;} margin: {bottom:3px}}
    .medium-text{font: { size:15px;}}
} 
.gray-column
{
    &.large
    {
        padding: {
            top:30px ;
            left:32px ;
            right:40px ;
            bottom:42px ;
        }
    &.qr{@media(max-width: 991px){text-align: center !important; padding-top: 0px !important;}}
    }
    &.small
    {
        padding: {
            top:14px ;
            left:32px ;
            right:62.9px ;
            bottom:14px ;
        }
        @media(max-width:991px) {padding: { right:32px} }
    }
}
.blank-88 { @include responsive-width(88px); }
.blank-184 { @include responsive-width(184px); }

.transactions-details
{
    font: {
        family: Roboto;
        size:12px;
    }
    h4
    {
        font: {
        family: Roboto;
        size:12px;
        }
    }
    .col{
    @media(max-width: 576px){@include responsive-width(100%);}
    }
}

.accounts-title{}
.accounts
{
    .accounts-column
    {
        @media (max-width:991px){@include responsive-width(100%); margin-left:0 !important; margin-right:0 !important;}
    }
    .account-logo
    {
        @include responsive-width(87px);
        @media (max-width:576px) { @include responsive-width(65px); }
        text-align: center;
        img
        {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            @media (max-width:576px) { height: 70%; width: auto; }
        }
    }
    .account-number
    {
        max-width: 267px;
        @media (max-width:576px) {
            max-width: 204px;
            font: { size:14px !important; }
            img { height: 14px !important; }
            
        }
        img
        {
            height: 17.4px;
            vertical-align: baseline;
        }
    }
    h2{
        font: {
            family: Roboto;
            size: 20px;
        }
        @media (max-width:576px) {font: { size: 16px; }}
    }
}