.address-details
{
    .title{
        font:
        {
            family: Roboto;
            size: 15px;
        }
        color: #000000;
        .gray
        {
            color: #9b9b9b;
        }
    }
    table{
        font: {
            family: Roboto;
            size: 15px;
        }
        color: #000000;
        tbody
        {
            tr
            {
                td
                {
                    padding: {
                        top:6px;
                        bottom:6px;
                    }
                    border-top: solid 1px #979797;
                 
                }
                &:nth-child(1)
                {
                    td{border-top:0px;}
                }
            }
        }
    }
}