.btn
{
    font: {
        family:Roboto;
        size:13px;
    }
    border-radius: 4px;
    &.btn-red
    {
        background: #ff6e6e;
        border: 0px;
        box-shadow: none !important;
        color:#fff;
        &:hover
        {
            background: {color:#ec8c8c;}
        }
    }
    &.btn-green
    {
        background: #50e3c2;
        color:#fff;
        border: 0px;
        box-shadow: none !important;
        &:hover
        {
            background: {color:#70ecd0;}
        }
    }
}
// .btn
// {
//     height: 25px;
//     padding: 0px 32px;
//     border-radius: 0px;
//     font: {
//         family:SFCompactDisplay;
//         size:15px;
//     }
//     &.btn-primary
//     {
//         background: {color:map-get($color, blue);}
//         border: 0px;
//         box-shadow: none !important;
//         &:hover
//         {
//             background: {color:map-get($color, blue-hover)}
//         }
//     }
// }
// a {color:map-get($color, blue); }


