

    /** Bold */
    @font-face {
      font-family: "Helvetica";
      font-weight: 700;
      src: url("../fonts//Helvetica/Helvetica-Bold.ttf");
    }
      /** Regular */
  @font-face {
    font-family: "Helvetica";
    font-weight: 400;
    src: url("../fonts/Helvetica/Helvetica-Regular.ttf");
  }
  