footer {
  color: #fff;
  padding: 0 0 48px;
  .menus {
    h2 {
      opacity: 0.6;
      font: {
        family: "Lato";
        size: 21.6px;
      }
    }
    a {
      font: {
        family: "Lato";
        size: 16.8px;
      }
      color: #999999;
    }
    .social {
      margin: 0 -11px;
      a {
        margin: 0 11px;
        vertical-align: middle;
        img {
          margin-right: 11.3px;
          transform: translateY(-2px);
        }
      }
    }
  }
}
