$formTextColor:#979797;
.form-control:focus{box-shadow: none;}
input[type="email"],input[type="text"],input[type="password"]
{
    
    border: 0px;
    border-bottom: 1.7px solid;
    border-radius: 0px;
    color: $formTextColor;


    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: $formTextColor;
      }
      &::-moz-placeholder { /* Firefox 19+ */
        color: $formTextColor;
      }
      &:-ms-input-placeholder { /* IE 10+ */
        color: $formTextColor;
      }
      &:-moz-placeholder { /* Firefox 18- */
        color: $formTextColor;
      }


    font: {
        family:Roboto;
        weight: 400;
        size:13.4px;
    }
    &.theme-blue
    {
        border-color: #85daff;
        padding: 24.4px 10.7px;
        
    }
}
.Form-Text{ 
    font-family: Roboto;
    font-size: 10.7px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $formTextColor;
}
.error
{
    color: #ff0000;
    padding: {left:10.7px;right:10.7px;}
}