
$themeDark:#171717;
$block-space:15;
$color:
(
    white:#fff,
    black:#000,
    blue:#00b1ff,
    primary:#00b1ff,
    blue-hover:#3cc3ff,
    grayText:#9B9B9B,
    lightGrayText:#cbc8c8,
    darkGrayText:#5E6875,
    theme-light-border:#DEECFF,
);
$primaryFont: "Roboto";
$font:
(
   
);