.identicon
{
    li
    {
        display: inline-block;
        // margin-left: 1rem;
        margin-left: 12px;
        // &:nth-child(1){margin-left: 0;}
        label
        {
            img
            {
                width: 40px;
                height: 40px;
                box-shadow: 0 0 4px 0 rgba(0, 177, 255, 0.41);
                margin: {left: 2px;}
            }
        }
    }
}

.identicon-refresh
{
    -ms-flex: 0 0 55px;
    flex: 0 0 55px;
    max-width:55px;
    img{
        cursor: pointer;
        width:15.9px;
        height:15.9px;
    }
}

.identicon-boxes-container
{
    width: 40px;
    height: 40px;
    margin: {left: 2px;}
    overflow: hidden;
    position: relative;
    &:before
    {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        box-shadow: inset 0px 0px 0px 4px white;
    }
}