.identicon
{
    li
    {
        display: inline-block;
        margin-left: 1rem;
        &:nth-child(1){margin-left: 0;}
        label
        {
            img
            {
                width: 40px;
                height: 40px;
                box-shadow: 0 0 4px 0 rgba(0, 177, 255, 0.41);
            }
        }
    }
}

.identicon-refresh
{
    -ms-flex: 0 0 150px;
    flex: 0 0 150px;
    max-width:150px;
    img{
        width:15.9px;
        height:15.9px;
    }
}