.market-cap{
    margin-bottom: 73.4px;
    @media (min-width:768px) {  margin-bottom: 38px }
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.intro
{
    overflow: hidden;
    .container{
        position: relative;
        .icon{
            position: absolute;
            right: 0;
            top: -58px;
            height: 609px;
            opacity: .08;
            z-index: -1;
        }
    }
    .line{
        @media (min-width:768px) {display: none;}
        hr{
            margin: 25px 0 15px;
        }
    }
    .discription
    {
        @media (min-width:992px) { @include responsive-width(calc(100% - 567px)) }
        .title,p { font: { family: 'Roboto';}}
        .title {
            font: { size: 70px;weight:700 }
            @media (max-width:991px) { font: { size: 55px; }}
            @media (max-width:767px) { font: { size: 45px; }}
            @media (max-width:567px) { font: { size: 35px; }}
            }
        p {
            color: #d8d8d8;
            font: { size: 20px; weight: 400; }
            @media (max-width:991px) { font: { size: 18px; }}
            @media (max-width:767px) { font: { size: 14px; }}
            @media (max-width:567px) { font: { size: 12px; }}
            @media (max-width:400px) { font: { size: 10px; }}
        }
    }
    .graph-info
    {
        @media (min-width:992px) { 
            padding-top: 20px;
            @include responsive-width(567px);
        }
        .title-info
        {
            margin-bottom: 23px;
            .icon{
                background: {
                    repeat:no-repeat;
                    size: auto 100%;
                    position: left #{$block-space}px center;
                }
                padding-left:  #{$block-space + 43}px;
                @media (max-width:991px) { padding-left:  #{$block-space + 33}px; }
                @media (max-width:767px) { padding-left:  #{$block-space + 27}px; }
                @media (max-width:567px) { padding-left:  #{$block-space + 22}px; }
                @media (max-width:400px) { padding-left:  #{$block-space + 18}px; }
            }
            .title
            {
                font: {
                    family: 'Roboto';
                    size: 19.2px;
                }
                @media (max-width:991px) { font: { size: 16px; margin-bottom: 20px; }}
                @media (max-width:767px) { font: { size: 14px; margin-bottom: 18px; }}
                @media (max-width:567px) { font: { size: 12px; margin-bottom: 14px; }}
                @media (max-width:400px) { font: { size: 10px; margin-bottom: 11px;}}
            }
           
        }
    }
    .result-info
    {   
        display: -ms-flexbox;
        display: flex;
        justify-content: space-between;
        .title,p{
            color:#fff;
            font: {
                family: "Roboto";
            }
        }
        .title
        {    
            font: {
                size: 16.8px;
            }
            @media (max-width:991px) { font: { size: 14.8px; }}
            @media (max-width:800px) { font: { size: 12px; }}
            @media (max-width:767px) { font: { size: 13px; }}
            @media (max-width:567px) { font: { size: 12px; }}
            @media (max-width:400px) { font: { size: 10px; }}
        }
        p{
            margin-bottom: 0;
            opacity: .6;
            font: {
                size: 14.4px;
            }
            @media (max-width:991px) { font: { size: 11.8px; }}
            @media (max-width:800px) { font: { size: 10px; }}
            @media (max-width:767px) { font: { size: 10.8px; }}
            @media (max-width:567px) { font: { size: 9.8px; }}
            @media (max-width:400px) { font: { size: 8px; }}
        }
    }
}