#latest-blocks
{
    padding: {top:76px; bottom:88px;}
    .header
    {
        display: -ms-flexbox;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 -15px;
        margin-bottom: 21px;
        .title
        {
            margin-bottom: 0;
            height: 45px;   
            padding-left: 60px;
            display: -ms-flexbox;
            display: flex;
            align-items: center;
            background: {
                repeat:no-repeat;
                position: left center;
            }
            color: #fff;
            font: { family: Roboto; weight:300; size: 24px; }
           
            @media(max-width: 991px) {
                height: auto;
                padding-left: 30px;
                font: {  size: 14px; }
                background: {size: auto 100%;}
            }
            @media(max-width: 767px) { font: {  size: 12px; }}
            @media(max-width: 4px) { font: {  size: 12px; }}
           &.l-b{
            @media(max-width: 991px) {
                padding-left: 24px;
            }
           }
        }
     
            .btn
            {
                padding: 3px 16px;
                box-shadow: 0 0 0 0.5px #fff;
                font:
                {
                    family: Roboto;
                    size: 16px;
                    weight: normal;
                    style: normal;
                    stretch: normal;
                }
                line-height: 1.5;
                letter-spacing: normal;
                text-align: center;
                color: #ffffff;
                @media (max-width:991px) { font: { size: 12px; } }
                @media (max-width:767px) { font: { size: 8px; } }
            }
        
    }
    .left,.right
    {
        @media (max-width:767px){ @include responsive-width(100%);
            padding:0 #{$block-space + 32}px;
        
        }
    }
    .left { @media (min-width:768px) { padding-right:#{$block-space + 6}px; } @media (min-width:992px) { padding-right:#{$block-space + 11}px; } }
    .right { @media (min-width:768px) { padding-left:#{$block-space + 6}px; } @media (min-width:992px) { padding-left:#{$block-space + 11}px; }}
    .blocks
    {
        p { span{ display: inline-block; }}
        font: { family: Roboto; weight: 400;}
        .details
        {
        
            border-radius: 3.8px;
            box-shadow: 0 0 0 0.5px #fff;
            padding: 14px 18px 16px;
            @media (min-width:992px){min-height: 130px;}
            @media (max-width:767px){padding: 8px 9px;}
           .s-to-r
            {
                display: -ms-flexbox;
                display: flex;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                margin-bottom: 16px;
                @media (max-width:991px){margin-bottom: 7px;}
                p{
                    padding-right:20px; 
                    @include responsive-width(50%);
                   
                }
            }
            .ammount-date{
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            p{
                &.ico{
                    padding-left: 28px;
                    background: {
                        size: auto 100%;
                        repeat: no-repeat;
                    }
                    @media (max-width:767px){padding-left: 23px;}
                }
                &.tx-holder
                {
                    max-width: 60%;
                }
                &.time-date
                {
                    opacity: 0.5;
                    font:
                    {
                        size: 14px;
                    }
                }
            }
        }
 
        .block-icon
        {
            margin: { right:7.3px; }
        }
        .time-date-col { @include responsive-width(115px); }
        p
        {
            font: { size: 16px; }
            margin-bottom: 0px;
            @media (max-width:991px) { font: { size: 14px; } }
            @media (max-width:767px) { font: { size: 12px; } }
        }

        .from-to-holder
        {
            span { display: inline-block; vertical-align: top; }
            .from-value,.to-value
            {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 100%;
            }
            .from-value
            {
                max-width: 6rem;
            }
            .to-value{max-width:10rem;}
        }
        .hash-holder
        {
            span
            {
                display: inline-block; vertical-align: top;
                &.tx-value
                {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 100%;
                max-width: 12rem;
                }
                &.hash-value
                {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 100%;
                max-width: 12rem;
                }
            }
        }
    }
}