.modal {
  .modal-dialog {
    padding: 0 40px;
    transform: translate(0, 40%) !important;
    max-width: 560px !important;
  }
  .modal-header {
    border: 0;
  }
  .close {
    height: 40px;
    width: 40px;
    background: {
      image: url(../images/icons/btn-x.svg);
      position: center;
    }
    span {
      display: none;
    }
  }
  .modal-header {
    padding: 24px 34px;
  }
  .modal-body {
    padding: 0px 56px 58px;
    @media (max-width: 767px) {
      padding: {
        left: 25px;
        right: 25px;
      }
    }
    @media (max-width: 567px) {
      padding: {
        left: 15px;
        right: 15px;
      }
    }
    .content {
      padding: 0 28px;
      @media (max-width: 768px) {
        padding: 0 26px;
      }
      @media (max-width: 567px) {
        padding: 0 24px;
      }
    }
    .title {
      margin-bottom: 16px;
      font: {
        family: Roboto;
        size: 24px;
        weight: 400;
      }
      color: #4a4a4a;
    }
    p {
      line-height: 1.38;
      font: {
        family: Roboto;
        size: 16px;
        weight: 400;
      }
      &.error {
        color: #ff5268;
      }
    }
    .btn {
      border-radius: 0px;
      margin-top: 27px;
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }
}
