.cs-progress{
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    font-size: 0.75rem;
    background-color: #f3ecf4;
    border-radius: 0.25rem;
    height: 7px;
    position: relative;
    .bar
    {
        transition: width 0.6s ease;
    }
    &.theme-blue
    {
        .bar
        {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            -ms-flex-pack: center;
            justify-content: center;
            color: #fff;
            text-align: center;
            white-space: nowrap;
            background-image: linear-gradient(to right, #3e68ea, #5ebaf7);  
        }
    }
    &.theme-red-Yellow-green
    {
        background-image: linear-gradient(91deg, #ff0000, #e6ff00 53%, #00ff24);
        .bar
        {
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 100%;
            background: rgba(255, 255, 255, 0.9);
        }
    }
}