.resources {
  $image-position-top: 70px;
  $image-position-top-991: 40px;
  $image-position-top-767: 15px;
  $image-position-left-gap: 54px;
  
  h2,
  p {
    font: {
      family: "Roboto";
    }
  }
  h2 {
    font: {
      family: "Roboto";
    }
  }
  p {
    
  }

  ul {
    display: inline-block;
    padding: 0;
    margin: 0;
    
    li {
      display: inline-block;
      list-style: none;
      margin-right: 10px;
      color: map-get($color, primary );
      cursor: pointer;

      font: {
        family: "Roboto";
        size: 13px;
      }
      border-left: 1px solid #fff;
      padding-left: 10px;
      transition: .3s all;
      @media (max-width:567px){font: { size: 10.4px; }}
      &:hover{opacity: .7;}
      &:nth-child(1) {
        padding-left: 0px;
        border-left: 0px;
      }
      &:nth-last-child(1) {margin-right: 0px;}
     
    }
  }
  .head {
    padding: 34px 0;
    @media (max-width:567px){ padding: 34px 0 2px; }
    .col{
      padding-left: $image-position-left-gap + $block-space;
      background: { position: top 0 left 26px; }
    }
    h2{ font: { size: 26px; }
    @media (max-width:567px){font: { size: 16px; }} }
    p{
      font: { size: 16px; }
      margin-bottom: 0;
      @media (max-width:567px){font: { size: 9.6px; }}
    }
  }
  
  .resource-card {
    
    padding: {
      top:$image-position-top;
      bottom: 100px;
      left: $image-position-left-gap + $block-space;
    }
    background: { 
      position: {
        x: 15px; y: $image-position-top;
     }
    }
    @media (max-width:991px){
      padding: { top:35px; bottom:35px; }
      background: { position: { y: $image-position-top-991; } }}
    @media (max-width:767px){
      padding: { top:15px; bottom:15px; }
      background: { position: { y: $image-position-top-767; } }}
    &.ioexchangecs{  }
    &.wallet{ background-position: { x: 22px;} }
    &.wallet{  }
    &.iocs{ background-position: { x:  27px; }}
    &.news-event{ background-position: { x: 21px; }}
    &.smart-contract{ background-position: { x: 25px; }}
    &.others{ background-position: { x: 25px; }}
    h2{
      font: { size: 20px; }
      @media (max-width:567px){font: { size: 16px; }}
    }
    p{
      font: { size: 12px; }
      @media (max-width:567px){font: { size: 9.6px; }}
      
    }
  }
}
