* {
  outline: 0px;
}
body
{
  font:{
    family: $primaryFont;
  }
  background: {
    color: $themeDark;
  }
}
h2 {
  font: {
    weight: 400;
  }
}
strong {
  -webkit-font-smoothing: antialiased;
}
.bg-dark {
  background: {
    color: map-get($color, black) !important;
  }
}
hr {
  &.light {
    border-color: map-get($color, theme-light-border);
  }
}
.bg-primary {
  background: {
    color: map-get($color, blue) !important;
  }
}

.header-title {
  font: {
    family: Helvetica;
    size: 30px;
  }
}

.full-height-conatainer {
  min-height: calc(100vh - 64px) !important;
}
hr{
  opacity: 0.314;
  border-color:#717171;
}