$icon-block:'../images/icons/block-small.svg';
$icon-transaction:'../images/icons/tx.svg';
.table {
  .icon{
    @media (min-width: 768px) {
    padding: 4px 0px;
    padding-left: 20px;
    background: {
      repeat: no-repeat;
      position: left center;
    }
    &.icon-block{  background: { image: url($icon-block); }}
    &.icon-transaction{     padding-left: 27px; background: { image: url($icon-transaction); }}
  }
    
  }

   th, td{
    border-top: 1px solid map-get($color, border-line );
    font: { family: "Roboto"; weight: 400; }
    line-height: 1.71;
   }
  thead {
    background: { color: map-get($color, table-head-bg ) }
    tr {
      th {
        padding: 16px;
        color: map-get($color, table-head );
        border:0px;
        &.w-nowrap {
          white-space: nowrap;
        }
      }
    }
  }


 
  tbody {
    tr {
      td {
        color: map-get($color, table-td );
        
        padding: 26px 16px;
        .txn-inputdata {
          width: 100%;
          max-width: 679px;
          height: 71px !important;
          border: solid 1px #dddcdc;
          background-color: #f1f1f1;
        }
        &.text-ellipsis{
          max-width: 131px;
        }
      }
    }
  }
  &.blocks-table,&.transactions-table  {
    @media (max-width: 767px) {
      font:{ size:12px; }
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
  
    thead
    {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    tbody {
       display: block;
      tr {
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          border: 1px solid map-get($color , border-line );
          padding: 10px 7px;
          margin-bottom: 6px;
        td {
          border:0px;
          padding: 2px 12px;
            -ms-flex-preferred-size: 0;
            flex-basis: 0;
            -ms-flex-positive: 1;
            flex-grow: 1;
            max-width: 100%;
            &.head{
              position: relative;
              padding-bottom: 7px;
              margin-bottom: 3px;
              &::before{
                padding-top: 4px;
                padding-bottom: 4px;
                padding-left: 20px;
                background: {
                  repeat: no-repeat;
                  position: left center;
                }
              }
              &::after{
                position: absolute;
                content: "";
                bottom: 0;
                left: 13px;
                right: 13px;
                height: 1px;
                background-color: map-get($color , border-line );
              }
            }
            &.full{  @include responsive-width(100%); }
            &.half{  @include responsive-width(50%); }
            &.full-wrap{
              position: relative;
              &::before{
                display: block;
              }
              &:nth-child(2){&::after{width:0px;}}
              &::after{
                
                content: "";
                position: absolute;
                width:1px;
                top: 5px;
                left: 0;
                bottom:5px;
                background-color: map-get($color , border-line );
              }
            }
          
            &::before{
              padding-right: 8px;
              content: attr(data-head) !important;
              color: map-get($color, table-head );
            }
          
        }
      }
    }
    }
  }
  &.blocks-table {
    thead {
      tr {
        th {
          
        }
      }
    }
    tbody {
      tr {
        td {
          &.text-ellipsis{
            max-width: 100px;
          }
          @media (max-width:767px) {
            &.head{ &::before{padding-left: 27px; background: { image: url($icon-block);} }}
            &.txn{@include responsive-width(60px);}
            &.hash{@include responsive-width(calc(100% - 60px - 70px));}
            &.round{@include responsive-width(70px);}
          }
        }
      }
    }
  }
  &.transactions-table {
    thead {
      tr {
        th {
          
        }
      }
    }
    tbody {
      tr {
        td {
          &.text-ellipsis{
            max-width: 100px;
          }
          @media (max-width:767px) { &.head{ &::before{padding-left: 27px; background: { image: url($icon-transaction);} } }}
        }
      }
    }
  }
  &.information-table {
    font: {
      family: Roboto;
     
    }

    thead {
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
      tr {
        th {
          color: #000;
          font: {
            size: 18px;
            weight: 400;
          }
          padding: 10px 28px;
          border: 0px;
        }
      }
    }

    tbody {
      tr {
        td {
          color: #000;
          font: {
            size: 15px;
          }
          &:nth-child(2) {
            font: {
              weight: 300;
            }
          }
          padding: 10px 28px;
          border: 0px;
          word-break: break-word;
        }
      }
    }
  }
}

.table-title {

  margin-bottom: 26px;
  @media (max-width:767px) { margin-bottom: 17px;  }
  .info{
    @media (max-width:767px) { 
    width: fit-content;
    margin-left: auto;}
  }
  h2, p{
    color: map-get($color, white );
    font: {
      family: "Roboto";
    }
  }
  h2{
    padding: 5px 0 6px 42px;
    margin-bottom: 0;
    background: {
      position: center left ;
      repeat:no-repeat;
    }
    font: {
      size: 24px;
      weight:300;
    }
    @media (max-width:991px) { font: { size: 20px; } }
    @media (max-width:767px) {  font: { size: 18px; } background: {size: auto 100%}     padding: 0px 0 0px 30px;}
    @media (max-width:567px) { font: { size: 16px; } }
  
  }
  p{
    opacity: .6;
    font: {
      size: 16px;
    }
    line-height: 1;
    margin-bottom: 0;

    @media (min-width:768px) {
      display: inline-block;
    }
    @media (max-width:991px) { font: { size: 14px; } }
    @media (max-width:767px) {
      margin-bottom: 8px;
      font: { size: 12px; }
    }
    @media (max-width:567px) { font: { size: 10px; } }
  }
}

.details{
  min-height: 400px;
  div{
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 6px;
  }
  p{
    white-space: nowrap;
    color: map-get($color, white );
    font-family: Roboto;
    font-size: 16px;
    display: inline-block;
    @media(max-width:767px){
      font-size: 14px;
    }
    @media(max-width:576px){
      font-size: 12px;
    }
    &:nth-child(1){
      opacity: .6;
      padding-right: 12px;
    }
  }
}