.table
{
    thead
    {
        &.dark{background: rgba(220, 220, 223, 0.21);}
        tr
        {
            th
            {
                font: {
                    family: Helvetica;
                    size:10.01px;
                }
                color: #5E6875;
            }
        }
    }
    tbody
    {
        &.scroll-theme-1
        {
            // display:block;
            // width: 100%;
            // overflow: auto;
            // height: 100px;
        }
        background: rgba(255, 255, 255, 0.6);
        
        tr
        {
            td
            {
                
                font: {
                    family: Helvetica;
                    size:8.58px;
                }
            }
        }
    }
}