.text-black {color:map-get($color, black) !important;}
.text-gray {color:map-get($color, grayText) !important;}
.text-gray-dark {color:map-get($color, darkGrayText) !important;}
.text-primary{color:map-get($color, blue) !important;}


.title-header
{
    .title
    {
        font: {
            family:Helvetica;
            size:30px;
        }
    }
}
.line-title
{
    span
    {
        position: relative;
        &::before, &::after
        {
            position: absolute;
            content: "";
            top: 50%;
            transform: translateY(-50%);
            height: 2px;
            width: 60px;
            background: black;
        }
        &::before{
            left: calc(100% + 20px);
        }
        &::after{
            right: calc(100% + 20px);
        }
    }
}