///* ========================================================================
//   #GLOBAL
//   ======================================================================== */
// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.

// Standardise some UI treatments.
$primary-font: "px-grotesk";
$global-radius: 3px !default;
$global-transition: all 300ms ease-in-out !default;
// COLOR CODE
$base: #6A6E8B;
$darken: #01012C;
$black: darken(#01012C, 40%);
$lightgray: #F5F9FA;
$lightborder: #f4f4f4;
$navhover: #131048;
// Dark theme
$darkblue: #020017;
$base-color: #ffffff;
// FONT SIZE
$font-sm: 14px;
$normalfont: 16px;
$font-md: 18px;
$lgfont: 20px;
