
$themeDark:#416ed5;
$block-space:15;
$color:
(
    white:#fff,
    black:#000,
    blue:#00b1ff,
    header-bg:$themeDark,
    header-menu:#fff,
    header-menu-active:#fff,
    footer-link:#999999,
    footer-copyright:#999999,
    border-line:#717171,
    border-line-opacity:0.314,
    primary:#00b1ff,
    blue-hover:#3cc3ff,
    grayText:#9B9B9B,
    lightGrayText:#cbc8c8,
    darkGrayText:#5E6875,
    theme-light-border:#DEECFF,
    table-head-bg: #979797,
    table-head: #fff,
    table-td: #fff,
    darkgray:#2b3954,
    lightblack:#556176
);
$primaryFont: "Roboto";
$font:
(
    footer-font:"Lato",
    footer-copyright:"Helvetica",
);