$mobile-width: 285px;

header {
    background: {
        color: map-get($color, header-bg);
    }
    position: sticky;
    top: 0;
    z-index: 999;

    .container {
        position: relative;
       
        @media(max-width: 991px){max-width: 100%;}
        &::before
        {
            @media(min-width: 768px){
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right:0;
            height: 1px;
            opacity: map-get($color, border-line-opacity);
            background: {color:map-get($color, border-line);}}
        }
    }
    nav
    {
        @media (max-width:767px) { padding:10px 0; }
        .btn{
           border-radius: 0px;
            position: fixed;
            
            @media (min-width:768px) {display: none;}
            padding: 0;
            &.open{
                top: 29px;
                right: 26px;
                height: 18px;
                width: 24px;
                background-size: contain;
                z-index: 99999;
                outline: none;
                box-shadow: none
            }
            &.close{
                opacity: 1 !important;
                z-index: 99999;
                top: 19px;
                right: 20px;
                width: 31px;
                height: 31px;
                &.dim
                {
                    animation: dim 0.4s !important;
                }
             }
        }
       
        &.navbar
        {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 0;
            right: 0;
            @media (max-width:767px) { padding: 10px 0; }
                    .navbar-brand
                    {
                        
                        @media (max-width:767px) { padding:10px 0;
                    z-index: 999;
                    position: relative;
                        }

                        .logo
                        {
                            height: 36px;
                            @media (max-width:991px){ height: 30px;  }
                            @media (max-width:767px) { height: 26px; }
                        }
                    }
                    .navbar-collapse
                    {

                        @media (max-width:767px) {
                            position: fixed;
                            right:0;
                            top: 0;
                            width: 100%;
                            height: 100vh;
                            display: block !important;
                           animation: overley-body 0.5s cubic-bezier(0.52, 1.64, 0.37, 0.66);
                            &.closing {
                                animation: overley-body-closing 0.4s !important;
                              }
                              .overlay{
                                  position: absolute;
                                  width: 100%;
                                  height: 100%;
                                  top: 0;
                                  left: 0;
                              }
                        }
                        
                        .navbar-nav
                        {
                            display: -ms-flexbox;
                            display: flex;
                            align-items: center;
                            justify-content: flex-end;
                            width: 100%;

                            @media (max-width:767px) {
                                align-items: flex-start;
                                padding: 120px 35px 0;
                                width: 100%;
                                height:100%;
                                z-index: 9999;
                                position: fixed;
                                right:10;
                                top: 0;
                                background: #fff;
                                height: 100%;
                                justify-content: flex-start;
                                transition: all ease-in-out 0.4d
                            }
                            .nav-item
                            {
                                margin:  0 7px;
                                .nav-link
                                {
                                    padding: 30px;
                                    color: map-get($color, header-menu);
                                    transition: .5s all;
                                    opacity: 0.5;
                                    font: { family: 'Work Sans', sans-serif; size:14px; weight: 600 }
                                    position: relative;
                                    @media (max-width:991px){    padding: 26px 4px;font: { size:16px; }  }
                                    @media (max-width:767px) { padding: 8px 0px;margin-bottom: 11px;color: #2b3954;opacity:1;   font: { size:24px; }   }
                                    &::before{
                                        content: "";
                                        position: absolute;
                                        bottom: 0;
                                        left: 0;
                                        right: 0;
                                        height: 5px;
                                        @media (max-width:767px) {
                                        right: initial;
                                        width:25px;
                                        height: 1px;
                                        background: map-get($color, white );
                                        }
                                    }
                                    &.active{
                                        opacity: 1;
                                        color: map-get($color, white );
                                        position: relative;
                                        @media (max-width:767px) {
                                            color: #2b3954;opacity:1;
                                        }
                                    }
                                    &:hover{opacity: .6;}
                                }
                                &:nth-last-child(1)
                                {
                                    .nav-link
                                    {
                                        @media (min-width:768px){margin-right: 0px;}
                                    }
                                }
                            }
                        }
                    }
                    @media (max-width:767px){padding: 15px 0;}   
        }
    }
    .headerSearch {
        position: relative;
        width: 264px;
        #search-bar .seach-btn {
            right: 0;
        }
        #search-bar .form-input {
          input{  border: 0px;
            height: 36px;
            border-radius: 40px;
            padding: 0 38px 0 20px;
            border: 0;
            font-size: 14px;
            color: rgba(43, 57, 84, 0.6);
        }
        button{
            cursor: pointer;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            padding: 0;
            border: 0;
            background: transparent;
            color: #416ed5;
            @media (max-width:767px){
                right: 0px;
            }
        }
    }
        @media (max-width:767px){
            #search-bar{
                position: fixed;
                left: 0;
                right: 0%;
                top: -100%;;
                padding: 0 30px;
                z-index: 99999;
                transition: all ease-in-out 0.4s;
                background: #416ed5;
         } 
         
         .icon.hide-mobile{

            display: none;
          }
        }
        .show-mobile{
            display: none;
            @media (max-width:767px){
                display: block
            }
        }
        .close-icon{
            transition: all ease-in-out 0.4s;
            opacity: 0;
            position: fixed;
            max-width: 15px;
            z-index: 9999999;
            right: 10px;

            cursor: pointer;
            top: -100%
        } 
    }
    .active #search-bar{
        top: 19px
    } 
    .headerSearch > .show-mobile{
        float: right;
        padding-right: 35px;
        cursor: pointer;
        display:none;
        @media (max-width:767px){
            display:block;
        }
      }
    .headerSearch.active  .close-icon{
        opacity: 1;
        top:10px
    }
}

  

@keyframes overley-body {
    from {
      right: -$mobile-width;
    }
 
    to {
      right: 0px;
    }
  }
  @keyframes overley-body-closing {
    from {
      right: 0px;
    }
 
    to {
      right: -$mobile-width ;
      opacity: 0;
    }
  }
  @keyframes dim {
    from {
      opacity: 1;
    }
 
    to {
      opacity: 0;
    }
  }