.transaction-wrapper{
    h2{
        font-size: 24px;
        font-weight: bold;
        color: map-get($color, lightblack);
    }
    .title-section{
        span{
            color: map-get($color, transcolor);
            font-weight: 600;
        }
    }
}
.transaction-wrapper-details{
    margin-top: -58px;
    .details-wrapper{
        margin-top: 20px;
        border-radius: 23px;
        box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.06);
        padding: 30px;
        margin-bottom: 80px;
        .col-12{
            padding-bottom: 30px;
        }
        .blue{
            color: map-get($color, primary );
        }
        .message-btn{
            border-radius: 15px;
            display: inline-flex;
            padding: 6px 15px;
            font-size: 12px;
            align-items: center;
            justify-content: center;
            img{
                padding-right: 5px;
                max-width: 17px;

            }
        }
        .gray-btn{
           background:  #e8eaec;
           margin-left: 10px;
           padding: 2px 15px;
           min-width: 70px;
        }
        .failed-btn{
            background: #fce7e8;
            color:#ee3131
        }
        .gray-btn-bg{
            background: #f5f5f5;
            color:#767676;
        }
        .col-sm-9{
            img.icon {
                vertical-align: middle;
                border-style: none;
                margin-top: -2px;
                margin-left: 7px;
            }
            
            .success-btn {
                background-color: #e5faf7;
                color: #21d3b1;
                
                
            }
            .column-data {
                font-weight: 600
            }
        }
        .arrow-down{
            border: 0px;
            background: none;
            padding: 0;
            box-shadow: none;
            outline: none;
            align-items: center;
            display: inline-flex;
            img{
                margin-left: 5px;
            }
        }
        .input-wrapper{
            border-radius: 12px;
            border: solid 1px #dfdfdf;
            background-color: #f4f4f4;
            width: 100%;
            height: 75px;
        }
        .hidden-div{
            margin: 0
        }
        .arrow-up{
            img{
                transform: rotate(180deg)
            }
        }
    }
}