.container {
    @media (min-width: 1100px) {
        max-width: 1000px;
    }
    @media (min-width: 1200px) {
        max-width: 1093px;
    }
    // &.intro-container {
    //   @media (min-width: 768px) and (max-width: 991px) {
    //     max-width: 1000px;
    //   }
    // }
    &.footer-container{
        @media (min-width: 768px) and (max-width: 991px) {
            max-width: 1000px;
            width: 99%;
        }
    }
    &.header-container{
        @media (max-width: 991px) {
            padding-right: 32px;
            padding-left: 32px;
        }
    }
    @media (max-width: 767px) {
        padding-right: 32px;
        padding-left: 32px;
    }
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    main {
        flex: 1 1;
    }
}
