/** Bold */

@font-face {
  font-family: "Helvetica";
  font-weight: 700;
  src: url("~src/assets/fonts/Helvetica/Helvetica-Bold.ttf") format("ttf");
}
/** Regular */

@font-face {
  font-family: "Helvetica";
  font-weight: 400;
  src: url("~src/assets/fonts/Helvetica/Helvetica-Regular.ttf") format("ttf");
}
