$input-placeholder:#717171;
#search-bar{
  padding: 40px 0;
  .holder{
    margin: {
      right: 0;
      left: auto;
    }
    width:100%;
    max-width: 478.7px;
  }
  .form-input{
    position: relative;
    button{ 
      position: absolute;
      top: 50%;
      right: 16.5px;
      transform: translateY(-50%);
    } 
    .icon{
      position: absolute;
      top: 50%;
      right: 16.5px;
      transform: translateY(-50%);
      cursor: pointer;
      @media (max-width:767px) {
        width: 18px;
        height: 18px;
        right:10px;
      }
    }
    input{
      height: 42px;
      width: 100%;
      padding: {
        left: 13.8px;
        right: 50px;
      }
      font-size: 15.4px;
      
      border-radius: 3.1px;
      border: 1px solid #717171;
      color:#fff;
      &::-webkit-input-placeholder { 
        color: $input-placeholder;
      }
      &::-moz-placeholder { 
        color: $input-placeholder;
      }
      &:-ms-input-placeholder { 
        color: $input-placeholder;
      }
      &:-moz-placeholder { 
        color: $input-placeholder;
      }
      @media (max-width:767px) {
        height: 40px;
        font-size: 16px;
        padding: {
          left: 10px;
          right: 30px;
        }
      }
  
    }
  }
  .seach-btn{
    position: absolute;
    top: 50%;
    right: 16.5px;
    transform: translateY(-50%);
  }
}