$active-tab-btn:#339AFF;
$tab-background:#EBEBEB;
#theme-tab
{
    .nav-tabs
    {
        &.theme-nav
        {
            background-color: $tab-background;
            .nav-item
            {
                .nav-link
                {
                    font: { family:Roboto; size:18px; }
                    height: 33px;
                    padding-top: 3px;
                    padding-bottom: 0;
                    border: 0px;
                    border-radius: 5px;
                    cursor: pointer;
                    &.active
                    {
                    background: $active-tab-btn;
                    color: #fff;
                    }
                }
            }
        }
    }
    .tab-content
    {
        &.theme-nav-tab-content
        {
            .tab-pane
            {
                background: #fff;
                &.active
                {

                }
            }
        }
    }
}

#theme-connents-tab
{
    .nav-tabs
    {
        border-bottom: 2px solid #EBEEF0;
        &.theme-connents-nav
        {
            .nav-item
            {
                .nav-link
                {
                    cursor: pointer;
                    font: {family: Helvetica Neue; weight:bold; }
                    &.active
                    {
                        border: 0px;
                        box-shadow: 0px 1px 0px 0px #FFF, 0px 3px 0px 0px #2E9FFF;
                    }
                }
            }
        }
    }
    .tab-content
    {
        &.theme-connents-nav-tab-content
        {
            .tab-pane
            {
            
                &.active
                {

                }
            }
        }
    }
}