$color: (
  White: #fff,
  Black: #000,
  Primary-Main: #416ed5,
  Navy-Main: #2b3954,
  Grey-Main: #556176,
  Error: #ee3131
);
$container: 1200px;
$largeDesktop: 1200.98px;
$desktop: 991.98px;
$tablet: 767.98px;
$phone: 575.98px;
