#header {
  height: 60px;
  background: map-get($color, Primary-Main);
  padding: 0 30px;
  display: flex;
  align-items: center;
  @media (max-width: $desktop) {
    padding: 0 20px;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo {
    img {
      height: 29px;
      @media (max-width: $desktop) {
        height: 30px;
      }
    }
  }
  .menus {
    display: flex;
    padding: 0;
    margin: 0;
    @media (max-width: $desktop) {
      display: none;
    }
    li {
      list-style: none;
      margin: 0 30px;
      a {
        font-size: 14px;
        font-weight: 600;
        color: rgba(#fff, 0.5);
        &.active {
          color: #fff;
        }
      }
    }
  }
  .menu-search-wrapper {
    display: flex;
    align-items: center;
  }
  .headerSearch {
    width: 264px;
    margin-left: 40px;
    .form-group {
      position: relative;
      .form-control {
        height: 36px;
        border-radius: 40px;
        padding: 0 38px 0 20px;
        border: 0;
        font-size: 14px;
        $textColor: rgba(map-get($color, Navy-Main), 0.6);
        color: $textColor;

        &::-webkit-input-placeholder {
          color: $textColor;
        }
        &::-moz-placeholder {
          color: $textColor;
        }
        &:-ms-input-placeholder {
          color: $textColor;
        }
        &:-moz-placeholder {
          color: $textColor;
        }
      }
      .btn-search {
        cursor: pointer;
        position: absolute;
        top: 50%;
        right: 22px;
        transform: translateY(-50%);
        padding: 0;
        border: 0;
        background: transparent;
        color: map-get($color, Primary-Main);
      }
    }
  }
}
