.py-30 {
  padding: {
    top: 30px !important;
    bottom: 30px !important;
  }
}

.pt-30 {
  padding-top: 30px !important;
}

.py-30 {
  padding-bottom: 30px !important;
}

.my-30 {
  margin: {
    top: 30px !important;
    bottom: 30px !important;
  }
}

.mt-30 {
  margin-top: 30px !important;
}

.my-30 {
  margin-bottom: 30px !important;
}
